// FONTS
//PT Sans

@font-face {
  font-family: 'PTSans-italic';
  src: url('../assets/fonts/PTSans/PTSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'PTSans-regular';
  src: url('../assets/fonts/PTSans/PTSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'PTSans-bold';
  src: url('../assets/fonts/PTSans/PTSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}